@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EED6D3;
}
body button {
  cursor: pointer;
}

/**
 * 快速控制
 */
.text-uppercase {
  text-transform: uppercase;
}

.d-none {
  display: none;
}

.header h1 {
  text-shadow: 4px 4px 1px #a49393;
  color: #391306;
  font-size: 2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #EED6D3;
  padding: 2rem;
  transition: top 1s ease-in;
}
.menu .game-name {
  margin: 0.5rem 0;
  text-shadow: 4px 4px 1px #a49393;
  color: #391306;
  font-size: 5rem;
  font-weight: 600;
}
.menu button {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.6);
}
.menu .play-with-ai-btn {
  background-color: #FBE698;
}
.menu .play-with-human-btn {
  background-color: #FFB067;
}
.menu .start-game-btn {
  width: 50%;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  background-color: #391306;
  color: #fff;
  border-radius: 0.25rem;
}

.add-player-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
  padding: 1rem 1.5rem;
  border: 1px solid;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.add-player-form h1 {
  margin: 0.5rem;
}
.add-player-form .input-wrapper {
  margin: 0.5rem 0;
}
.add-player-form .input-wrapper label {
  display: block;
}
.add-player-form .input-wrapper input[type=text] {
  min-height: 1.5rem;
  padding: 0 0.5rem;
  border: none;
}
.add-player-form .input-wrapper input[type=text]:focus {
  outline: none;
  box-shadow: 2px 2px 1px #D43790;
}
.add-player-form input[type=submit] {
  padding: 0.5rem 2rem;
  border: none;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #900020;
  color: #fdfdfd;
  font-weight: 600;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1124px;
  min-height: 100vh;
  margin: 0 auto;
  transform: scale(0);
  transition: transform 1s;
}

.player-card {
  text-align: center;
  border: 1px solid #4E1A3D;
  border-radius: 0.25rem;
  padding: 0.5rem;
  position: relative;
}
.player-card .avatart-wrapper {
  width: 150px;
  height: 150px;
}
.player-card .avatart-wrapper .avatar {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 0.25rem;
}
.player-card h2 {
  margin: 1rem 0;
}
.player-card .whos-turn-msg {
  opacity: 0;
}

/*
目前輪到誰的提示
 */
.gameboard {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.gameboard .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.gameboard .row .cell {
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8B4B8;
  cursor: pointer;
}
.gameboard .btn-wrapper {
  justify-content: flex-end;
}
.gameboard .btn-wrapper .reset-btn {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fdfdfd;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.25rem;
}
.gameboard .winning-msg-wrapper {
  font-size: 1.5rem;
  font-weight: 600;
}

.gameboard .cell.x {
  cursor: not-allowed;
}
.gameboard .cell.x:before, .gameboard .cell.x:after {
  content: "";
  width: calc(150px * .15);
  height: calc(150px * .9);
  background-color: #67595E;
  position: absolute;
}
.gameboard .cell.x:before {
  transform: rotate(-45deg);
}
.gameboard .cell.x:after {
  transform: rotate(45deg);
}

.gameboard .cell.o {
  cursor: not-allowed;
}
.gameboard .cell.o:before {
  content: "";
  width: calc(150px * .7);
  height: calc(150px * .7);
  background-color: #67595E;
  border-radius: 50%;
  position: absolute;
}
.gameboard .cell.o:after {
  content: "";
  width: calc(150px * .5);
  height: calc(150px * .5);
  background-color: #E8B4B8;
  border-radius: 50%;
  position: absolute;
}

/**
 * 1. 藉由 gameborad + x / o class 判斷目前該誰
 * 2. hover 提示 及 點擊出現對應的 mark
 */
/**
 * x 提示
 */
.gameboard.x .cell:not(.x):not(.o):hover:before, .gameboard.x .cell:not(.x):not(.o):hover:after {
  content: "";
  width: calc(150px * .15);
  height: calc(150px * .9);
  background-color: rgba(103, 89, 94, 0.3);
  position: absolute;
}
.gameboard.x .cell:not(.x):not(.o):hover:before {
  transform: rotate(-45deg);
}
.gameboard.x .cell:not(.x):not(.o):hover:after {
  transform: rotate(45deg);
}

/**
 * o 提示
 */
.gameboard.o .cell:not(.x):not(.o):hover:before {
  content: "";
  width: calc(150px * .7);
  height: calc(150px * .7);
  background-color: rgba(103, 89, 94, 0.3);
  border-radius: 50%;
  position: absolute;
}
.gameboard.o .cell:not(.x):not(.o):hover:after {
  content: "";
  width: calc(150px * .5);
  height: calc(150px * .5);
  background-color: #E8B4B8;
  border-radius: 50%;
  position: absolute;
}

/*# sourceMappingURL=app.css.map */
